Thank you {{first_name}} for flagging your issue with us and we hope you had all your questions answered. We consider & ponder every feedback in-depth to make Ample-ing even more smooth & satisfying. Enjoy an Ample life!