<!DOCTYPE html>
{% comment %}
This Liquid Template is for redering mailing template for aggregated orders
{% endcomment %}
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img style="display: block; text-align: center; width: 100px;" src="https://s3-ap-southeast-1.amazonaws.com/s3.buyample.production/public/logo_ample.png" alt="http://buyample.com"><br/>
    <h1 style="font-style: normal; font-weight: 700; font-family: lato,tahoma,sans-serif; margin-bottom: 0px; margin-top: 0px; font-size: 24px; line-height: 32px; color: #44A8C7; text-align: center;">Aggregated Product Requirements</h1>

    <h2 style="font-style: normal; font-weight: 300; font-family: lato,tahoma,sans-serif; margin-bottom: 0px; margin-top: 0px; font-size: 18px; line-height: 20px; color: #44D8C7; text-align: center;">Time Period: {{ from_time }} to {{ till_time }}</h2><br/><br/>

    <p style="font-style: normal; font-weight: 400; font-family: lato,tahoma,sans-serif; margin-bottom: 24px; margin-top: 0px; font-size: 15px; line-height: 24px; color: #60666D">
      Hello {{ to_first_name }},<br/></p>

    {% if aggregated_products == blank %}
      <p style="font-style: normal; font-weight: 400; font-family: lato,tahoma,sans-serif; margin-bottom: 24px; margin-top: 0px; font-size: 15px; line-height: 24px; color: #60666D">
        No products to be packed for this time period :(</p>
    {% else %}
      <p style="font-style: normal; font-weight: 400; font-family: lato,tahoma,sans-serif; margin-bottom: 24px; margin-top: 0px; font-size: 15px; line-height: 24px; color: #60666D">
      Product requirements have been successfully generated.<br/>

      List is as follows:</p>
      {% for aggregated_products_by_category in aggregated_products %}
        <p style="font-size: 14px;"><b>Category: {{ aggregated_products_by_category[0] }}-</b></p>
        <table class="tftable" border="1" style="font-size: 12px;color: #333;width: 100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse">
          <tr style="background-color: #fff">
            <th style="font-size: 12px;background-color: #acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align: left">Sr.no.</th>
            <th style="font-size: 12px;background-color: #acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align: left">BP Code</th>
            <th style="font-size: 12px;background-color: #acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align: left">Name</th>
            <th style="font-size: 12px;background-color: #acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align: left">MRP</th>
            <th style="font-size: 12px;background-color: #acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align: left">Total required</th>
          </tr>
          {% comment %}
          Looping over the aggregated_products array to fetch the fields
          {% endcomment %}

          {% for aggregated_product in aggregated_products_by_category[1] %}
            <tr style="background-color: #fff">
              <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5">{{ forloop.index }}
              </td>
              <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5">{{ aggregated_product.brand_pack_code }}
              </td>
              <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5">{{ aggregated_product.display_name }}<br/><b>{{ aggregated_product.sku_size }} {{ aggregated_product.unit }} (Pack of {{aggregated_product.retail_pack_size}})</b>
              </td>
              <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5">Rs.{{ aggregated_product.mrp }}
              </td>
              <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5">{{ aggregated_product.units_to_procure }}
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endfor %}

      <br/><br/><br/><br/><br/>
      <p><b>_____________________________</b></p>
      <p style="font-size: 12px;color: #333;width: 640px;"><b><i>Shopper Name & Signature</i></b></b></p>
      {% comment %}
      Looping over the placed_orders_minimal_details array to fetch the order_ids
      {% endcomment %}
      <br/><br/>
      <hr/>
      <p style="font-size: 14px;"><b>This aggregation is for Order IDs:</b><br/><br/>
        {% for placed_order in placed_orders_minimal_details %}
          {{ placed_order.order_id }} ,
        {% endfor %}
      </p>
    {% endif %}
  </body>
</html>
