<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <title>Buy Ample</title>
  </head>
  <body style="margin: 0;padding: 0;-webkit-text-size-adjust: none;background-color: #E0E0E0;width: 100%;-webkit-font-smoothing: antialiased;font-family: 'Lato', sans-serif;">
  <table width="640" bgcolor="#E0E0E0" border="0" class="deviceWidth" align="center" cellpadding="0" cellspacing="0" style="font-family: &quot;Arial&quot;, sans-serif;font-weight: 300;color: #575757;font-size: 14px;border-collapse: collapse">
      <tr bgcolor="#2a2f76">
          <td bgcolor="#ffffff" align="center">
              <a target="_blank" class="center" href="{{ BUYAMPLE_HOMEPAGE }}" style="margin:6px 0 6px 0;display:block;">
                  <img src="{{ AMPLE_BLUE_LOGO }}" alt="Ample" title="Ample" style="border:none;"/>
              </a>
          </td>
      </tr>
    <tr bgcolor="#ffffff">
        <td align="center">
            <h1 style="color:#2a2f76;font-size:34px;font-weight:700;margin:20px 0 5px 0;text-align:center;text-transform:uppercase;"><font face="'Arial', Arial, Helvetica, sans-serif">SAY GOOD BYE TO MRP</font>
          </td>
      </tr>
      <tr bgcolor="#ffffff">
          <td align="center">
            <img src="{{ AMPLE_TROLLEY }}" alt="Ample" title=""/>
          </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td align="center">
            <h3 style="color:#2a2f76;font-size:18px;font-weight:600;margin:40px 0 0 0;text-align:center;text-transform:uppercase;"><font face="'Arial', Arial, Helvetica, sans-serif">INTRODUCING INDIA’S FIRST ONLINE SHOPPING CLUB</font></h3>
          </td>  
    </tr>
        <tr bgcolor="#ffffff">
        <td align="center">
            <h3 style="color:#4a4a4a;font-size:18px;font-weight:500;text-align:left; margin:30px 0 0 32%;text-align:left;"><img src="{{ TICK_IMAGE }}"> Top Brands</font></h3>
          </td>   
      </tr>
    <tr bgcolor="#ffffff">
        <td align="center">
            <h3 style="color:#4a4a4a;font-size:18px;font-weight:500;margin:21px 0 0 32%;text-align:left;"><img src="{{ TICK_IMAGE }}"> Ample Sizes</font></h3>
          </td>   
      </tr>
    <tr bgcolor="#ffffff">
        <td align="center">
            <h3 style="color:#4a4a4a;font-size:18px;font-weight:500;margin:21px 0 0 32%;text-align:left;"><img src="{{ TICK_IMAGE }}"> Wholesale Prices</font></h3>
          </td>   
      </tr>
    <tr bgcolor="#ffffff">
        <td align="center">
            <h3 style="color:#4a4a4a;font-size:18px;font-weight:500;margin:21px 0 0 32%;text-align:left;"><img src="{{ TICK_IMAGE }}"> Delivered at your Doorstep</font></h3>
          </td>   
      </tr>
    <tr bgcolor="#ffffff">
        <td align="center">
            <h3 style="color:#2a2f76;font-size:18px;font-weight:600;margin:40px 0 0 0;text-align:center;text-transform:uppercase;"><font face="'Arial', Arial, Helvetica, sans-serif">TRY FREE MEMBERSHIP FOR 3 MONTHS</font></h3>
          </td>     
      </tr>
      <tr bgcolor="#ffffff">
        <td align="center">
            <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth" style="border-collapse: collapse">
                <tr>
                    <td height="10"/>
                  </tr>
                  <tr>
                    <td height="10"/>
                  </tr>
                  <tr>
                    <td colspan="3" align="center">
                        <a href="{{ APP_LINK }}" style="background-color:#da3f58;color:#fff;line-height:42px;font-size:18px;text-transform:uppercase;border:1px solid #da3f58;border-radius:2px;text-decoration:none;display:inline-block;height:42px;width:320px;mso-line-height-rule:exactly;">DOWNLOAD ANDROID APP [BETA]</a>
                      </td>
                  </tr>
              <tr bgcolor="#ffffff">
        <td align="center">
            <h3 style="color:#4a4a4a;font-size:15px;font-weight:200;margin:20px 0 0 0;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">Access is on invite basis. </font></h3>
          </td>     
      </tr>
    <tr bgcolor="#ffffff">
        <td align="center">
            <h3 style="color:#4a4a4a;font-size:18px;font-weight:600;margin:0;text-align:center;text-transform:uppercase;"><font face="'Arial', Arial, Helvetica, sans-serif"><b>YOUR SECRET INVITE CODE</b></font></h3>
          </td>     
      </tr>
              <tr bgcolor="#ffffff">
        <td align="center">
            <h3 style="color:#da3f58;font-size:26px;font-weight:600;margin:10.8px;text-align:center;text-transform:uppercase;"><font face="'Arial', Arial, Helvetica, sans-serif"><p style="border-style:solid; border-color:#da3f58;display:inline; padding: 5px;"><b>{{ REFERRAL_CODE }}</b></p></font></h3>
          </td>     
      </tr>
              <tr bgcolor="#ffffff">
        <td align="center">
            <h3 style="color:#4a4a4a;font-size:14px;font-weight:300;margin:20px 10px 45px 10px;text-align:center;">Once you activate your Ample Sample membership, you can share your personal referral code to invite friends to try Ample. You get an extra free month after every successful referral.<br/><br/>LIVE AMPLY!</font></h3>
          </td>     
      </tr>
      <tr bgcolor="#9b9b9b" >
        <td height="1px">
        </td>
      </tr>
<tr bgcolor="#ffffff">
        <td align="center">
            <h3 style="color:#4a4a4a;font-size:14px;font-weight:300;margin:25px 10px 45px 20px;text-align:left;">Sincerely,<br/><span style="font-weight:bold">Team Ample</span></em><br/><br/><em>PS:</em> <span style="font-weight:bold"><em>We will be launching our web ordering very soon!!</em></span><br/><em>PPS:</em><span style="font-weight:bold"> <em>In the app, you can suggest more products that you would like to to see on Ample.</span></em></font></h3>
          </td>     
      </tr>
<tr bgcolor="#9b9b9b" >
        <td height="1px">
        </td>
      </tr>
              </table>
          </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td height="10"/>
      </tr>
      <tr bgcolor="#ffffff">
        <td align="center">
            <p style="font-size:12px;margin:0 10px;color:#9b9b9b;line-height:18px;margin:10px 10px 10px"><font face="'Arial', Arial, Helvetica, sans-serif">Come by to say Hi! to us at <a href="mailto:{{ INVITE_EMAIL_FROM }}" title="" style="color:#9b9b9b;text-decoration:none;font-weight:bold"><b>{{ INVITE_EMAIL_FROM }}</b></a><br/>or Call us on <span style="font-weight:bold">022 3996 7500</span><br/>All Terms and Conditions are as shown on <a href="{{ BUYAMPLE_HOMEPAGE }}/terms.html" title="" style="color:#9b9b9b;text-decoration:none;font-weight:bold">{{ BUYAMPLE_HOMEPAGE }}/terms.html</a></font></p>
          </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td height="10"/>
      </tr>
      <tr bgcolor="#2a2f76">
        <td height="10"/>
      </tr>
      <tr bgcolor="#2a2f76">
          <td bgcolor="#2a2f76" align="center">
            <table align="center" width="80" style="border-collapse: collapse">
                <tr>
                    <td>
                  <a href="{{ TWITTER_URL }}"><img src='{{ TWITTER_ICON }}' alt="" title=""/></a>
                      </td>
                      <td width="10"> </td>
                      <td>
                  <a href="{{ FACEBOOK_URL }}"><img src='{{ FACEBOOK_ICON }}' alt="" title=""/></a>
                      </td>
                      <td width="10"> </td>
                      <td>
                  <a href="{{ INSTAGRAM_URL }}"><img src='{{ INSTAGRAM_ICON }}' alt="" title=""/></a>
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
      <tr bgcolor="#2a2f76">
        <td height="10"/>
      </tr>
  </table>
  </body>
</html>
