<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Buy Ample - Invoice</title>
  </head>
  <body style="margin: 0;padding: 0;-webkit-text-size-adjust: none;background-color: #E0E0E0;width: 100%;-webkit-font-smoothing: antialiased;font-family: &quot;Arial&quot;, sans-serif">
    <table width="640" bgcolor="#E0E0E0" border="0" class="deviceWidth" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #e0e0e0;font-family: &quot;Arial&quot;, sans-serif;font-weight: 300;color: #575757;font-size: 14px;border-collapse: collapse">
      <tr bgcolor="#ffffff">
        <td>
          <table class="deviceWidth" align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse">
            <tr bgcolor="#ffffff">
              <td height="10" colspan="2"/>
            </tr>
            <tr>
              <td colspan="1" align="left">
                <a target="_blank" href="{{ BUYAMPLE_HOMEPAGE }}" style="margin:5px 15px 5px 15px;text-align:left;">
                <img src="{{ AMPLE_ORIGINAL_PURPLE_LOGO }}" alt="Ample" title="Ample" style="border:none;"/>
                </a>
              </td>
              <td colspan="1" align="right">
                <p style="font-size:10px;line-height:16px;color:#b6b6b6;text-align:right;margin:5px 15px 5px 15px;text-transform:uppercase;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Seller Info</font><br>
                </p>
                <p style="font-size:12px;line-height:16px;color:#000000;text-align:right;margin:5px 15px 5px 15px"><font face="'Arial', Arial, Helvetica, sans-serif">{{ SELLER_NAME }}<br>{{ SELLER_ADDRESS_LINE_1 }}<br>{{ SELLER_ADDRESS_LINE_2 }}</font></p>
                <p style="font-size:12px;line-height:15px;color:#000000;text-align:right;margin:5px 15px 5px 15px"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">VAT-TIN: </b>
                  {{ TIN_VAT_NUMBER }}
                  </font>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr bgcolor="#E0E0E0">
        <td height="2"/>
      </tr>
      <tr bgcolor="#ffffff">
      <td>
          <table class="deviceWidth" align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse">
                <tr bgcolor="#ffffff">
                    <td height="10" colspan="2"/>
                </tr>
                <tr>
                  <td colspan="1" align="left">
                      <p style="font-size:10px;line-height:10px;color:#b6b6b6;text-align:left;margin:10px 15px 5px 15px;text-transform:uppercase;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Order Details</font></p>
                    </td>
                  <td colspan="1" align="right">
                      <p style="font-size:10px;line-height:10px;color:#b6b6b6;text-align:right;margin:10px 15px 5px 15px;text-transform:uppercase;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Payment Details</font></p>
                    </td>
                </tr>
                <tr>
                  <td>
                      <p style="font-size:12px;line-height:15px;color:#000000;text-align:left;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">Order Date:</b> {{ order_date }}</font></p>
                    </td>
                    <td align="right" valign="top">
                      <p style="font-size:12px;line-height:15px;color:#000000;text-align:right;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">{{payment_details.status_display_name}}, {{ payment_details.instance_display_name }}</b></font></p>
                    </td>
                </tr>
                <tr>
                  <td>
                      <p style="font-size:12px;line-height:15px;color:#000000;text-align:left;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">Order ID:</b> {{ order_id }}</font></p>
                    </td>
                    <td>
                      <p style="font-size:12px;line-height:15px;color:#000000;text-align:right;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">Rs.{{payment.net_total | format_as_money }}</b></font></p>
                    </td>
                </tr>
                <!-- To be used when we have an estimation date and delivery challan number
                <tr>
                  <td>
                      <p style="font-size:14px;line-height:16px;color:#000000;text-align:left;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">Delivery Challan No:</b> MUMB-3456-POW-12345</font></p>
                    </td>
                </tr>
                <tr>
                  <td>
                      <p style="font-size:14px;line-height:16px;color:#000000;text-align:left;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">Estimated Delivery by:</b> 23 September 2015, 7AM - 11AM</font></p>
                    </td>
                </tr>
              -->
                <tr bgcolor="#ffffff">
                    <td height="10" colspan="2"/>
                </tr>
            </table>
        </td>
    </tr>
      <tr bgcolor="#E0E0E0">
        <td height="2"/>
      </tr>
      <tr bgcolor="#ffffff">
        <td>
          <table class="deviceWidth" align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse">
            <tr bgcolor="#ffffff">
              <td height="10" colspan="2"/>
            </tr>
            <tr>
              <td colspan="1" align="left">
                <p style="font-size:10px;line-height:10px;color:#b6b6b6;text-align:left;margin:5px 15px 5px 15px;text-transform:uppercase;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Billed To</font></p>
              </td>
              <td colspan="1" align="right">
                <p style="font-size:10px;line-height:10px;color:#b6b6b6;text-align:right;margin:5px 15px 5px 15px;text-transform:uppercase;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Billing Address</font></p>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <p style="font-size:12px;line-height:12px;color:#000000;text-align:left;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif">
                  {{ user.first_name }}<br/></font>
                </p>
                <p style="font-size:12px;line-height:12px;color:#000000;text-align:left;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">Phone:</b> +91-{{ user.phone_number }}</font></p>
                <p style="font-size:12px;line-height:12px;color:#000000;text-align:left;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif"><b style="font-weight: bold;">Email:</b> {{ email_id }}</font></p>
              </td>
              <td valign="top">
                <p style="font-size:12px;line-height:15px;color:#000000;text-align:right;margin:5px 15px;"><font face="'Arial', Arial, Helvetica, sans-serif">
                  {{ address.recipient_name }}<br/>
                  {{ address.address_line1 }}<br/>
                  {{ address.address_line2 }}<br/>
                  {{ address.landmark }} {{ address.area }} <br/>
                  {{ address.city }} {{ address.pincode }}, {{ address.state }}
                  </font>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr bgcolor="#E0E0E0">
        <td height="2"/>
      </tr>
      <tr bgcolor="#4b0082">
        <td>
          <table class="deviceWidth" align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse">
            <tr bgcolor="#4b0082">
              <td height="56" align="center">
                <p style="line-height:18px;color:#fff;font-size:12px;margin:10px 0 0 0;text-transform:uppercase;"><font face="'Arial', Arial, Helvetica, sans-serif">Your Savings Today</font></p>
                <h1 style="line-height:24px;color:#fff;font-size:24px;margin:5px 0px 10px 0;"><font face="'Arial', Arial, Helvetica, sans-serif">Rs.{{payment.total_savings}}</font></h1>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td valign="top">
          <table cellpadding="0" cellspacing="0" border="0" class="deviceWidth" width="100%" align="center" style="border-collapse: collapse">
            <tr style="border-bottom:1px solid #b6b6b6;" height="50">
              <th width="15"> </th>
              <th width="310" style="color:#b6b6b6;font-size:10px;" align="left"><font face="'Arial', Arial, Helvetica, sans-serif">Description</font></th>
              <th width="75" style="color:#b6b6b6;font-size:10px;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif">Qty</font></th>
              <th width="75" style="color:#b6b6b6;font-size:10px;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif">MRP<i style="font-style:normal;font-size:10px; display:block;">in Rs.</i></font></th>
              <th width="75" style="color:#4b0082;font-size:10px;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif">Savings<i style="font-style:normal;font-size:10px; display:block;">in Rs.</i></font></th>
              <th width="75" style="color:#b6b6b6;font-size:10px;" align="center"><font face="'Arial', Arial, Helvetica, sans-serif">Final Price<i style="font-style:normal;font-size:10px; display:block;">in Rs.</i></font></th>
              <th width="15"> </th>
            </tr>
            {% for product in products %}
            <tr>
              <td> </td>
              <td valign="top">
                <p style="color:#4a4a4a;line-height:10px;font-size:10px;margin:3px 0 1px 0;">
                  <font face="'Arial', Arial, Helvetica, sans-serif">{{ product.display_name }}<br/>
                  <i style="color:#727272;font-size:8px;font-style:normal">{{ product.display_pack_size}}</i></font>
                </p>
              </td>
              <td valign="top">
                <p style="font-size:8px;margin:3px 0 1px 0;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.quantity }}</font></p>
              </td>
              <td valign="top">
                <p style="font-size:8px;margin:3px 0 1px 0;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.total_mrp  | format_as_money }}</font></p>
              </td>
              <td valign="top">
                <p style="color:#4b0082;font-size:8px;margin:3px 0 1px 0;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">-{{ product.total_savings | format_as_money }}</font></p>
              </td>
              <td valign="top">
                <p style="font-size:8px;margin:3px 0 1px 0;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ product.total_selling_price | format_as_money }}</font></p>
              </td>
              <td> </td>
            </tr>
            {% endfor %}
            <tr style="border-top:1px solid #b6b6b6;border-bottom:1px solid #b6b6b6;" height="35">
              <td> </td>
              <td valign="top">
                <p style="font-size:12px;margin:10px 0 10px 0;font-weight:bold;text-align:left;"><font face="'Arial', Arial, Helvetica, sans-serif">Total</font></p>
              </td>
              <td valign="top">
                <p style="font-size:10px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ cart.total_products }}</font></p>
              </td>
              <td valign="top">
                <p style="font-size:10px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ cart.stats.total_mrp  | format_as_money }}</font></p>
              </td>
              <td valign="top">
                <p style="color:#3a355e;font-size:10px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">-{{ cart.stats.cart_savings  | format_as_money }}</font></p>
              </td>
              <td valign="top">
                <p style="font-size:10px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{ cart.stats.cart_total  | format_as_money }}</font></p>
              </td>
              <td> </td>
            </tr>
            <!-- Savings on Payment Mode
              <tr>
                <td> </td>
                  <td/>
                  <td colspan="3" align="right"><p style="color:#3a355e;font-size:11px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Saved 1% Extra on Debit card payment Rs.</font></p></td>
                  <td align="right"><p style="color:#3a355e;font-size:12px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">-62.00</font></p></td>
                  <td> </td>
              </tr>
              -->
            <tr>
              <td> </td>
              <td/>
              <td colspan="3" align="right">
                <p style="color:#4a4a4a;font-size:11px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Delivery Charges Rs.</font></p>
              </td>
              <td align="top">
                <p style="color:#4a4a4a;font-size:12px;margin:10px 0 10px 0;font-weight:bold;text-align:center;"><font face="'Arial', Arial, Helvetica, sans-serif">{{payment.delivery_charges | format_as_money }}</font></p>
              </td>
              <td> </td>
            </tr>
            <!-- Total Taxes paid
              <tr>
                <td> </td>
                  <td/>
                  <td colspan="3" align="right"><p style="color:#3a355e;font-size:11px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Total Taxes Paid Rs.</font></p></td>
                  <td align="right"><p style="color:#3a355e;font-size:12px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">385.00</font></p></td>
                  <td> </td>
              </tr>
              -->
            <tr bgcolor="#ffffff">
              <td height="10" colspan="7"/>
            </tr>
            <tr>
              <td> </td>
              <td/>
              <td colspan="3" align="right">
                <p style="color:#4a4a4a;font-size:11px;margin:10px 0 10px 0;font-weight:bold;"><font face="'Arial', Arial, Helvetica, sans-serif">Grand Total Rs.<br/>(inclusive of all taxes)</font></p>
              </td>
              <td align="top" style="border-top:1px solid #b6b6b6;">
                <p style="color:#4a4a4a;font-size:12px;margin:10px 0 10px 0;font-weight:bold; text-align:center; vertical-align:top;"><font face="'Arial', Arial, Helvetica, sans-serif">{{payment.net_total | format_as_money }}</font></p>
              </td>
              <td> </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr bgcolor="#E0E0E0">
        <td height="2"/>
      </tr>
      <!-- To be used when unsubscription funcationality is available
        <tr bgcolor="#ffffff">
          <td align="center">
              <p style="font-size:12px;margin:10px;color:#9b9b9b;line-height:18px;"><font face="'Arial', Arial, Helvetica, sans-serif">We hope you enjoy receiving our news and special offer emails from <a href="http://www.buyample.com" target="_blank" title="" style="color:#da3f58;text-decoration:none;">www.buyample.com</a>, but if you would prefer not to receive these emails please click <a href="http://www.buyample.com" target="_blank" title="" style="color:#da3f58;text-decoration:none;">unsubscribe</a></font></p>
            </td>
        </tr>
        <tr bgcolor="#E0E0E0">
          <td height="5"/>
        </tr>
        -->
      <tr bgcolor="#ffffff">
        <td height="10"/>
      </tr>
      <tr bgcolor="#ffffff">
        <td align="center">
          <p style="font-size:12px;margin:0 10px;color:#9b9b9b;line-height:18px;"><font face="'Arial', Arial, Helvetica, sans-serif"><a href="{{ BUYAMPLE_HOMEPAGE }}" style="color:#9b9b9b; text-decoration:none;" title="" target="_blank">{{ BUYAMPLE_HOMEPAGE }}</a> is a trademark of Imli Technology Pvt Ltd. All rights Reserved. 2015</font></p>
          <p style="font-size:12px;margin:0 10px;color:#9b9b9b;line-height:18px;"><font face="'Arial', Arial, Helvetica, sans-serif">For any queries, contact us at <a href="mailto:customerfirst@buyample.com" title="" style="color:#da3f58;text-decoration:none;">customerfirst@buyample.com</a></font></p>
        </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td height="10"/>
      </tr>
      <tr bgcolor="#E0E0E0">
        <td height="2"/>
      </tr>
      <tr bgcolor="#ebebeb">
        <td height="5"/>
      </tr>
      <tr bgcolor="#ebebeb">
        <td bgcolor="#ebebeb" align="center">
          <table align="center" width="80" style="border-collapse: collapse">
            <tr>
              <td>
                <a href="{{ TWITTER_URL }}"><img src='{{ TWITTER_PURPLE_ICON }}' alt="" title=""/></a>
              </td>
              <td width="10"> </td>
              <td>
                <a href="{{ FACEBOOK_URL }}"><img src='{{ FACEBOOK_PURPLE_ICON }}' alt="" title=""/></a>
              </td>
              <td width="10"> </td>
              <td>
                <a href="{{ INSTAGRAM_URL }}"><img src='{{ INSTAGRAM_PURPLE_ICON }}' alt="" title=""/></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr bgcolor="#ebebeb">
        <td height="5"/>
      </tr>
    </table>
  </body>
</html>
