<!DOCTYPE html>
{% comment %}
This Liquid Template is for redering mailing template for single order packing by packer
{% endcomment %}
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="font-style: normal; font-weight: 650; font-family: lato,tahoma,sans-serif; margin-bottom: 0px; margin-top: 0px; font-size: 24px; line-height: 32px; color: #44A8C7; text-align: left;">Order Packing for Order ID: {{ order_id }}</h1>
    </br>
    <table border="1" style="font-size: 12px;color: #333;width: 640px;border-width: 1px;border-color: #729ea5;border-collapse: collapse">
      <tr style="background-color: #fff">
        <th style="font-size: 12px;background-color: #acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align: left">Sr.no.</th>
        <th style="font-size: 12px;background-color: #acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align: left">Name</th>
        <th style="font-size: 12px;background-color: #acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align: left">BP Code</th>
        <th style="font-size: 12px;background-color: #acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align: left">MRP</th>
        <th style="font-size: 12px;background-color: #acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align: left">Total required</th>
      </tr>
      {% comment %}
      Looping over the products array to fetch the fields
      {% endcomment %}
      {% for product in products %}
        <tr style="background-color: #fff">
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5">{{ forloop.index }}
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5">{{ product.display_name }}<br/><b>{{ product.sku_size }} {{ product.unit }} (Pack of {{product.retail_pack_size}})</b>
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5">{{ product.brand_pack_code }}
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5">Rs.{{ product.mrp }}
          </td>
          <td style="font-size: 12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5">{{ product.units_to_procure }}
          </td>
        </tr>
      {% endfor %}
    </table>
    <table style="font-size: 12px;color: #333;width: 640px;">
      <tr>
        <td style="text-align:left;">
          <br/><br/><br/><br/><br/>
          <p><b>_______________________________</b></p>
          <p><b><i>PICKER Name & Signature</i></b></b>
        </td>
        <td style="text-align:right;">
          <br/><br/><br/><br/><br/>
          <p><b>_______________________________</b></p>
          <p><b><i>PACKER Name & Signature</i></b></b>
        </td>
      </tr>
    </table>
  </body>
</html>
