<script>
window.onload = function(){
  document.getElementById("ample-citrus-form-submit").click();
}
</script>
<form accept-charset="UTF-8" action="<%= @citrus_url %>" method="post" id = "ample-citrus-form">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input id="merchantTxnId" name="merchantTxnId" type="hidden" value="<%= @transaction.id %>"/>
  <input id="orderAmount" name="orderAmount" type="hidden" value="<%= @transaction.amount %>"/>
  <input id="currency" name="currency" type="hidden" value="<%= @transaction.currency %>"/>

  <input id="secSignature" name="secSignature" type="hidden" value="<%= @transaction.signature %>"/>
  <input id="email" name="email" type="hidden" value="<%= @transaction.user_email_id %>"/>
  <input id="returnUrl" name="returnUrl" type="hidden" value="<%= @return_url %>"/>
  <input id="ample-citrus-form-submit" name="submit" type="submit" style="visibility: hidden;"/>
</form>